header{ text-align:center;
padding-top:50px;
}
section{
    border:1px solid rgb(1, 31, 201);
    padding:auto;
    margin:50px 50px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items: center;
}

select{
    width: 350px;
    padding:20px;
    margin:50px 0px; 
}
section div:nth-child(1){
 margin-top: 40px;
}
section div:nth-child(2){
    margin-top: 40px;
}